.form-box {   margin-top: 25px;  padding-bottom: 25px; }
.form-box .inner {  }

.form-box { background: #fff;  }

.final-step {  padding: 10px 20px; color: white; text-align: center; position: relative; margin-bottom: 15px; }
.final-step strong { display: block; font-size: 55px; }
.final-step::after { display: block; content:" "; width: 0; top: 100%; left: 43%; position: absolute; height: 0; border-left: 25px solid transparent; border-right: 25px solid transparent;  }


 

.guarantee {
    width: 266px;
    height: 104px;
    margin: 0 auto;
    padding: 135px 25px 0 25px;
    font-size: 13px;
    background: url('../images/moneyback.jpg') no-repeat;
}
        
@media only screen and (min-width: 1024px) {
    .seals { float: right; display: block; margin-right: 15px; }
    .product-option-box { float: left; width: 62%; }
    .form-box { float: right; width: 36%; margin: 0; }
    
    #order-summary th { width: 60%; }
}



/* */
 
.newfields .fields label {
    margin-top: 7px; 
    float: left;
    width: 30%;
    text-align: right;
    padding-right: 2%;
  }

  .newfields   .fields  .input_fields  {
    float: left;
    width: 60%;
    padding:0 5px 7px 5px !important;
  }
  
  .newfields   .fields  .input_fields2  {
    float: left;
    width: 30%;
    padding:0 5px 7px 5px !important;
  }

  

  .newfields   .fields  .input_fields  input {  
    border: 1px solid #666;
    padding: 6px 5% 7px 5%  !important;
    width: 90% !important;
    border-radius: 3px; }

    .newfields   .fields  .input_fields  select {  
        border: 1px solid #666;
        padding: 7px !important;
        width: 100% !important; 
        border-radius: 3px;}    

 .clearall { clear: both;}   

 .checkout-form { font-size: 14px;}

 

 .newfields   .fields  .input_fields  select {
    display: block;
     
    -moz-padding-start: calc(1rem - 3px);
    
    font-weight: 500;
    line-height: 1.5;
    color: #5E6278;
    background-color: #ffffff;
    height: 33px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
  }

   


  .newfields   .fields  .input_fields  select {
    border: 1px solid #666;
  }