.form-error {
	display: none
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
select:focus {
	border: 1px solid grey;
	border-bottom: 1px solid #1e90ff;
	outline: none
}

span.help-block.form-error {
	display: none
}

p.contr-txt span.timer {
	width: 45px;
	display: inline-block;
	position: relative;
	top: 2px
}

.frm-element input[type=email] {
	width: 200px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 0 10px;
	margin-left: 7px;
	float: right;
	outline: none
}

.modal-visible .modal-inner {
	z-index: 9999
}

.usa-seal {
	left: 47px;
	margin-top: -615px
}

div.logo {
	background-image: url(../images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	top: 16px;
	left: 176px;
	width: 70px;
	height: 55px
}

div.logo.gry-logo {
	width: 330px;
	height: 100px;
	left: 0;
	top: 0
}

div.logo.bottom {
	width: 270px;
	height: 100px;
	left: 0;
	top: -32px;
	margin-bottom: -44px
}

div.topImageContainer {
	position: absolute;
	width: 400px;
	height: 400px;
	margin: 380px 0 0 -170px;
	text-align: center;
	z-index: 10
}

div.bottle {
	background-image: url(../images/surgeboxs1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 300px;
	height: 340px
}

div.bottle.left {
	width: 300px;
	height: 340px;
	margin: 20px -100% 0 0;
	float: left
}

div.bottle.right {
	width: 340px;
	height: 400px
}

.sc5-seal {
	z-index: 2
}

div.midImageContainer {
	position: absolute;
	width: 230px;
	height: 230px;
	margin: 30px 0 0 -20px;
	text-align: center;
	z-index: 1
}

div.midImageContainer div.bottle.left {
	float: left;
	margin: 5px -100% 0 0%;
	width: 160px;
	height: 200px
}

div.midImageContainer div.bottle.right {
	float: right;
	margin: -20px 0 0 -20%;
	width: 200px;
	height: 240px
}

div.bottle.single {
	width: 160px;
	height: 300px;
	margin-top: 2px
}

div.mid3ImageContainer,
div.bottomImageContainer {
	position: absolute;
	width: 400px;
	height: 270px;
	margin: 475px 0 0 285px;
	text-align: center
}

div.bottomImageContainer {
	margin: 455px 0 0 -35px
}

div#bottle_lp_bot_2,
div#bottle_lp_bot_3,
div#bottle_lp_bot_1 {
	background-image: url(../images/surgeboxs1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	margin: 0;
	width: 220px;
	height: 220px;
	padding: 0;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: inline-block
}

div#bottle_lp_bot_2 {
	float: left;
	margin-right: -100%
}

div#bottle_lp_bot_3 {
	margin-left: -100%;
	float: right
}

div#bottle_lp_bot_1 {
	width: 45%;
	z-index: 2;
	margin: -30px auto 0;
	width: 257px;
	height: 280px
}

div.bottomImageContainer div#bottle_lp_bot_1 {
	left: -30px
}

.maga-txt2 {
	margin-top: -10px;
	font-size: 14px !important
}

.sc3-txt1 {
	font-size: 48px
}

.sc1-txt5 {
	width: 75%
}

.sc1-txt5-1 {
	width: 78%;
	right: -14px;
	position: relative
}

.sc1-para3 {
	float: left;
	margin: 35px 0 0 34%
}

.sc1-pr5-points li p {
	min-height: 115px
}

.sc3-txt3 {
	min-height: 120px
}

.strp-txt {
	margin-left: 0;
	width: 62%
}

.strp-txt span {
	font-size: 19px
}

.sc4-seal {
	top: 285px
}

.sc4-tppara .sc3-txt4 {
	min-height: 100px
}

div.midImageContainer {
	margin: 30px 0 0 -44px
}