@charset "utf-8";

@font-face {
	font-family: conv_geomanist-light;
	src: url(../fonts/Geomanist-Light.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: conv_geomanist-regular;
	src: url(../fonts/Geomanist-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: conv_geomanist-bold;
	src: url(../fonts/Geomanist-Bold.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: conv_geomanist-medium;
	src: url(../fonts/Geomanist-Medium.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: conv_segoepr;
	src: url(../fonts/segoepr.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: conv_gothamhtf-book;
	src: url(../fonts/GothamHTF-Book.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: conv_gotham-bold;
	src: url(../fonts/Gotham-Bold.woff) format('woff');
	font-weight: 400;
	font-style: normal
}