@charset "utf-8";
 

.mobile_sections { width: 744px; margin: 0 auto;}

	.m_sections1 {	
			 background: url(../images/section-1-m.jpg) left top no-repeat;
			 height: 770px; 
		     background-size:100% !important ;}

	.m_banner_right { width: 64%; float: right; }	
	
	.m_banner_right .sc1-para2, 
	.m_banner_right .sc1-para2-1  { margin: 0; }

	.m_banner_right  .sc1-txt2 { text-align: right; font-size: 26px;  margin-top: 30px; }
	.m_banner_right  .sc1-txt3 {font-size: 45px;  }

	.m_banner_right .red-arrow {
		    background: url("../images/sc1-arw1.jpg")#f31f33 no-repeat 0px top;
			line-height: 29px; font-size: 28px;  padding: 2px 2%;
			width: 88%; margin: 0; text-align: right; height: auto; background-size: contain;
			margin-top: 10px; float: right;}

	.main_b_text { padding-right: 15px;}	

	.m_banner_right .list-sec1 { margin-left: 70px;}
	.m_banner_right .list-sec1 span { display: block;}

	.m_banner_right .list-sec1 li p {font-size: 17px;}
	.m_banner_right  .list-sec1 li {padding: 2px 0 0 30px; background-size: 18px !important;}

	.bannerlogo_m { margin-top: 60px;}
	.list-sec_holder { position: relative; clear: both;}
	.usa-seal01 { position: absolute; left: -70px; top: 101px;}

	.m_sections2 .sc2-cntn { width: 100%; }
	.m_sections2  .sc2-txt2 {background-size: 100%; background-position: center center; }

	.m_sections2 .scpr2-lft { 
			margin: 35px 0 0 0px; width: 80%; float: left; padding-right: 20%;
			background: url("../images/box3right.jpg") no-repeat center right;
			background-size: 135px !important;
		}

	.m_sections3 .sc3-txt1 { text-align: center;}	
	.m_sections3 .sc3-txt2 { text-align:center ;}


	.m_sections3  {	
			background-size:cover ;
			padding:15px;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8f7fe+0,ffffff+100 */
background: #e8f7fe; /* Old browsers */
background: -moz-linear-gradient(top,  #e8f7fe 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e8f7fe 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e8f7fe 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f7fe', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



	.m_sections3 .sc3-txt2 { 
			background: url(../images/sc2-tx2bg.png) right 19px no-repeat;
			background-size: 100%;
			background-position: center center;}
	 
	.m_sections4 { background:#004f7d; padding: 30px 0; position: relative; margin-top: 100px;}	
	.m_sections4  .sc3-prlft-txt1 { margin-top: 48px;}
	.m_sections4 .sc3lft-pnt {width: 100%; margin: 15px 0 0 0;}

	.m_sections4  .sc3lft-pnt li {
			color: #fff;
			background: url(../images/sc3-lft-pont1.png) left 9px no-repeat;}

	.m_sections4_right {width: 332px; float: right;}	
	.m_sections4_right {  position: relative;}
	
	.bost1  {
		position: absolute;
		top: -81px;
		left: 0;
		width: 262px;
	  }
	  .bost2 {
		position: absolute;
		top: -89px;
		right: 50%;
		width: 144px;
		margin-right: -72px;
	  }

	  .m_sections5 .s3-rgtpnt-txt2-2 { background-position: left top;}
	  .m_sections5 .s3-rgtpnt-txt2-3 { background-position: left top;}

	  .m_sections5  .sc3-para1 { float: none; width: 75%; margin: 19px auto 50px auto; }

	  .m_sections6 { background: #fec400; min-width: 100%; text-align: center;}
	  .m_sections6 .strp-txt { width: 100%;}

	  .m_sections7 { position: relative;}

	  .m_sections7  .section-4 {
			min-width: 100%;
			background: url(../images/section-7.jpg) center top no-repeat; 
		background-size: cover;  height: auto; padding-bottom: 50px;}

	  .m_sections7  .sc4-paralft,
	  .m_sections7  .sc4-parargt  { width: 100%; }

	  .m_sections7   .sc4-tppara { width: 100%; }
	  .m_sections7  .sc4-box2 , .m_sections7  .sc4-box4 {margin: 0;}

	  .m_sections7 .comn-hdng-para {width: 100%;}

	  .m_sections7 .sc3-txt2 {
		background: url(../images/sc2-tx2bg.png) right 19px no-repeat;
		  background-position-x: right;
		  background-position-y: 19px;
		  background-size: auto;
		background-size: 100%;
		background-position: center center;
		text-align: center;
	  }

	  .m_sections7  .sc3-txt1-sc4 { text-align: center;}

	  .m_sections7 .blod {
		position: absolute;
		top: 121px;
		right: 0px;
		width: 211px;
	  }

	  .m_sections7  .sc4-tppara .sc3-txt4 {
		min-height: 0;
		width: 60%;
	  }

	  .m_sections7  .blue-hdng { margin-top: 30px; margin-bottom: 30px; height: auto;}
	  .m_sections7  .sc4-para2 { padding: 0 2%; width: 96%;}

	  .m_sections7  .sc4-box2 .sc4-txt2 { padding-top: 15px; margin-bottom: 10px;}
	  .m_sections7  .sc4-parargt .sc4-txt2 { padding-top: 15px; margin-bottom: 10px;}
	  .m_sections7  .sc4-box3 { margin-top: 15px;}
	  .m_sections7 .bluhnd-txt1 { padding-top: 30px;}
	  .m_sections7  .bluhnd-txt2 { background: #fff;}

	  .m_sections8 .sc5-points li { width: 100%; background: none; padding-top: 0;}

	  .m_sections9 .section-6 { min-width: 100%;}
	  .m_sections9  .sc6-paralft { width: 100%;}

	  .m_sections9 .comn-hdng-para {width: 100%;}

	  .m_sections9 .sc3-txt2 {
		background: url(../images/sc2-tx2bg.png) right 19px no-repeat;
		  background-position-x: right;
		  background-position-y: 19px;
		  background-size: auto;
		background-size: 100%;
		background-position: center center;
		text-align: center;
	  }

	  .m_sections9  .sc3-txt1 { text-align: center;}
	  .m_sections9 .sc6-tppara  { width: 100%;}

	  
	  .m_sections10 .comn-hdng-para {width: 100%;}

	  .m_sections10 .sc3-txt2 {
		background: url(../images/sc2-tx2bg.png) right 19px no-repeat;
		  background-position-x: right;
		  background-position-y: 19px;
		  background-size: auto;
		background-size: 100%;
		background-position: center center;
		text-align: center;
	  }

	  .m_sections10  .sc3-txt1,  .m_sections10 .sc7-paralft { text-align: center;}
	  .m_sections10 .sc6-tppara , .m_sections10 .sc7-paralft { width: 100%;}

	  .m_sections10 .section-7 { 
		background: url("../images/section-7-7.jpg") center top no-repeat;
		background-repeat: no-repeat;
		min-width: 100%; height: auto; padding-bottom: 50px; text-align: center;}

	  .m_sections10  .sc7-points li { background: none; padding: 0 30px;}
	  .m_sections10  .sc7-points { width: 100%;}
	  .m_sections10 .sc7-points li  { text-align: center;}
	  .m_sections10 .sc7-points li img { display: inline-block; width: 180px;}

	  .m_sections11 .slider-txt2 {margin: 15px 0 20px 0px;}

	  .m_sections12  .red-arrow {
		font-size: 21px;
		background: #f31f33;
		 
		color: #fff;
		 
		padding: 4px 2%;
		width: 96%;
		margin: 0;
		height: auto;
		text-align: right;
	  }
	  

	  .m_sections12 { margin-top: 20px;}
	  .m_sections12 .m_sections1 {
			height: 455px;
			background: url(../images/section-9-9.jpg) left top no-repeat;}

	.m_sections13 { 
			background: #255891; padding: 15px 0 10px 0; 
			position: relative; margin-top: 5px;}	
	.footer_right { text-align: center; width: 50%; margin-right: 5%; float: right;}	

	.productfooter {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 160px;
	  }

	  .m_sections14 { padding: 15px 0;}
	  .m_sections14 , .m_sections14 p, .m_sections14 a { text-align: center ;
		font-family: 'Open Sans','Arial', san-serif;
		color: #8a8a8a !important;
		font-size: 12px;}


		#sticky  {
            position: fixed;
            bottom: 0;
            z-index: 10000;
            width: 100%;
            left: 0;
			transition: all 0.3s;
             
        }
		 #sticky.stick { position: relative;} 

@media screen and (max-width: 767px) {

	.mobile_sections { width:100%; margin: 0 auto;  }

	.m_sections2    { padding: 0 2%;}

	.m_sections7 .section-4,
	.m_sections10 .section-7 { width: 96%; padding: 0 2%; min-width: 96%; padding-bottom: 50px;}

	.strip { height: auto; padding: 10px 0;}
	.strip  .strp-txt {margin: 0px 0 0 0; font-size: 19px; line-height: 20px;}
	.strip .strp-txt span {font-size: 14px;}

	.m_sections9 .section-6 { width: 96%; padding: 0 2%; min-width: 96%;  }

	.m_sections11 { padding: 0 2%;}

	.m_sections14  {padding: 40px 40px;}

	.sc7-txt1 {font-size: 14px; line-height: 20px;}

	.m_sections8 .sc5-txt2 {
		background: url(../images/sc2-tx2bg.png) right 19px no-repeat;
		  background-position-x: right;
		  background-position-y: 19px;
		  background-size: auto;
		background-position-x: right;
		background-position-y: 19px;
		background-size: auto;
		background-size: 100%;
		background-position: center center;
		text-align: center;
	  }

	  .m_sections8  .sc5-para1 { width: 96%; padding: 0 2%;}


	  .m_sections12 .m_banner_right .sc1-para2 { width: 100%;}

	  .m_sections8 .sc5-txt2 { padding: 0;}

	  .m_sections9 .section-6 {background: none;}



	  /*
	  .m_sections14, .m_sections14 p, .m_sections14 a { font-size: 9px;}

	  .m_sections14 { padding-top: 150px;}
	  #sticky.stick {bottom: 310px;} */



}


@media screen and (max-width: 700px) {

	.s8-box1, .s8-box2 { width: 80%;  }
	.slid-img {width: 170px; margin-left: -85px; left: 50%;}
	.slider-txt1 {margin: 150px 0 0 33px; height: auto;}
	.slider-txt2  {font-size: 16px; background-size: 37px;}

	.m_banner_right .sc1-txt3 {font-size: 21px; line-height: 18px; letter-spacing: 0; margin-top: 0;}
	.m_banner_right .sc1-txt2  {font-size: 14px; margin-top: 0;}

	.m_banner_right .red-arrow { line-height: 18px; font-size: 14px;}
	.bannerlogo_m {margin-top: 20px;}

	.m_banner_right .list-sec1 li p  {font-size: 13px; line-height: 21px;}

	.usa-seal01 { left: -17px; top: 22px; width: 61px; }
	.m_sections1 {height: 450px;}

	.sc2-txt1, .sc3-txt1, .bluhnd-txt1, .sc5-txt1, .sc3-txt1-sc4  {font-size: 24px; margin: 0;
		padding: 0; letter-spacing: 0;}
	.sc2-txt2, .sc3-txt2, .bluhnd-txt2, .sc5-txt2 {font-size: 18px; line-height: 20px;}
	.sc2-cntn {font-size: 14px;}

	.sc2-txt3 span, .strp-txt span, .sc5-txt4 {font-size: 10px;}

	.sc2-txt3 {font-size: 22px; padding: 0 0 35px 68px;}

	.ponts1, .ponts2, .ponts3 {background-size: 89% !important;}

	.m_sections2 .scpr2-lft {background-size: 97px !important;}
	.m_sections2 .scpr2-lft {width: 75%; padding-right: 25%;}

	.sc2-para2 {margin: 0px 0 30px 0; }

	.sc3-txt1 {font-size: 24px !important; line-height: 24px;}
	.sc3-txt2 { font-size: 18px; line-height: 28px;}
	.sc3-txt3, .sc3-txt4 {font-size: 14px; line-height: 20px;}

	.sc3-prlft-txt1 {font-size: 25px; line-height: 35px;}
	.sc3-prlft-txt1 span {font-size: 13px;
		line-height: 14px;
		font-weight: normal;}
	.sc3lft-pnt li {font-size: 12px;}

	.m_sections4_right {width: 232px;}

	.bost1 { top: -59px; left: 0; width: 168px; }
	.bost2 { top: -67px; right: 50%; width: 90px; margin-right: -45px; }

	.m_sections4 .sc3-prlft-txt1 { margin-top: 13px; }
	.m_sections4 .sc3lft-pnt li {background-size: 9px; padding: 0px 0 0 16px; background-position: left 5px;}

	.m_sections4 .sc3lft-pnt {margin: 10px 0 0 15px;}

	.m_sections5 .sc3-para1 {width: 90%;}
	.s3-rgtpnt-txt1 {font-size: 32px;}
	.s3-rgtpnt-txt2, .s3-rgtpnt-txt2-2, .s3-rgtpnt-txt2-3 {font-size: 16px;}


	.m_sections7 .sc3-txt1-sc4 { line-height: 24px; }

	.bluhnd-txt1 {font-size: 18px; padding-left: 15px; padding-top: 14px !important;}
	.bluhnd-txt2 {font-size: 16px;}
	
	.m_sections7 .blod {width: 162px;}

	.sc4-txt2 {font-size: 20px;}

	.sc5-txt2 {margin: 0;}

	.m_sections8 .sc5-points li {padding: 0 10%; width: 80%;}
	.sc5-pnttxt1 {font-size: 16px;} 
	.pnt-line {margin: 5px auto 0;}
	.sc5-pnttxt2  {font-size: 14px; margin: 10px auto 0; padding-bottom: 15px;}

	.sc4-tppara, .sc6-tppara {margin: 30px 0 0;}

	.m_sections4 {margin-top: 60px;}

	.m_sections12 .m_sections1 {background-size: cover !important; height: 314px;}

	.m_sections12 .usa-seal01 { top: auto; bottom: -30px;}
	.m_sections12 .red-arrow {line-height: 22px; font-size: 18px;}

	.m_sections10 .sc7-points li img {width: 180px;}
	.sc7-points li {font-size: 20px;}

	.m_sections12 .sc1-para2 {  float: right;}
	.m_sections12 .m_banner_right .sc1-txt3 {font-size: 18px;}
	.m_sections12  .m_banner_right {padding-right: 15px;}



	.m_sections11 .sc5-txt2 {
		background: url(../images/sc2-tx2bg.png) right 19px no-repeat;
		  background-position-x: right;
		  background-position-y: 19px;
		  background-size: auto;
		background-position-x: right;
		background-position-y: 19px;
		background-size: auto;
		background-size: 100%;
		background-position: center center;
		text-align: center;
		padding: 0;
	  }

	  .m_sections11  .sc5-para1 { overflow: hidden;}


	  .m_sections10 .section-7 { background: #e8f7fe; /* Old browsers */
		background: -moz-linear-gradient(top,  #e8f7fe 0%, #ffffff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #e8f7fe 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #e8f7fe 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f7fe', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}


}

@media screen and (max-width: 400px) {
	.bluhnd-txt1 {font-size: 14px; padding-top: 5px !important;}
	.m_banner_right .list-sec1 {
		margin-left: 55px;
	  }
	  .sc5-pnttxt1 {
		font-size: 14px;
	  }

	  .m_sections12 .m_banner_right {
		padding-right: 9px;
	  }

	  .m_sections12 .red-arrow {
		line-height: 17px;
		font-size: 15px;
	  }
}


@media screen and (min-width: 401px) and (max-width: 745px) {
	.m_sections4_right { width: 270px; }
	.sc3-prlft-txt1 { font-size: 31px; line-height: 39px; }

	.bost2 { top: -71px; right: 50%; width: 102px; margin-right: -50px; }
	.m_sections4 .sc3-prlft-txt1 { margin-top: 21px; }
	.m_sections4 {padding: 30px 0 17px 0; }

	.m_sections1 {margin-bottom: 30px;}

	
}

@media screen and (min-width: 401px) and (max-width: 700px) {
.m_sections2 .sc2-para2  {
	width: 406px;
	margin: 0 auto 30px auto;
	float: none;
  }

}


/* */
@supports(padding:max(0px)) {
	body  {
		padding-left: min(0vmin, env(safe-area-inset-left));
		padding-right: min(0vmin, env(safe-area-inset-right));
	}
  }
  
  html, body {
	overflow-x: hidden !important;
	width: 100% !important;
  }