@charset "utf-8";

body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0;
	background: #fff;
	color: #282f39;
	font-family: open sans, sans-serif;
	overflow-x: hidden
}

::-webkit-input-placeholder {
	color: #000
}

::-moz-placeholder {
	color: #000
}

:-ms-input-placeholder {
	color: #000
}

:-moz-placeholder {
	color: #000
}

div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
	margin: 0;
	padding: 0
}

table,
tr,
td {
	border: 0
}

a {
	outline: none;
	color: #333;
	text-decoration: none
}

a:hover {
	outline: none;
	color: #000;
	text-decoration: none
}

img {
	border: none
}

li {
	list-style: none
}

.clearall {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px
}

.container {
	width: 1030px;
	margin: 0 auto;
	position: relative;
	padding: 0
}

.top-header {
	float: left;
	width: 100%;
	height: 28px;
	background-color: red
}

.str-txt {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	line-height: 28px
}

.str-txt span {
	color: #fff200;
	font-weight: 700
}

.section-1 {
	float: left;
	width: 100%;
	min-width: 1030px;
	background: url(../images/section-1.jpg) center top no-repeat
}

.top-logo {
	float: left;
	padding: 24px 0 0 193px
}

.sc1-para-lft {
	float: left;
	width: 683px
}

.sc1-para-rgt {
	float: right;
	width: 346px
}

.sc1-flag,
.sc1-txt2,
.list-sec1 li p span,
.contr-txt {
	font-family: conv_geomanist-regular
}

.red-arrow,
.list-sec1 li p,
.sc1-arw1-1 {
	font-family: conv_geomanist-medium
}

.timer,
.sc1-txt3,
.sc1-txt3-1,
.sc2-txt1,
.sc3-txt1,
.sc3-txt1-sc4,
.bluhnd-txt1,
.sc5-txt1 {
	font-family: conv_geomanist-bold
}

.sc1-txt4,
.sc1-txt4-1,
.sc1-txt5 span,
.sc1-txt1,
.sc1-txt3,
.sc1-txt3-1,
.list-sec1 li p,
.sc1-txt6,
.sc1-pr5-points li p span,
.maga-txt2 span,
.sc3-txt1,
.sc3-txt3 span,
.sc3-txt6 span,
.sc4-txt2,
.sc5-pnttxt1,
.sc5-txt5,
.ingrdnts li,
.sc7-points li {
	color: #004f7e
}

.sc1-flag {
	float: right;
	width: 71%;
	background: url(../images/flag.png) left 7px no-repeat;
	height: 35px;
	font-size: 16px;
	line-height: 20px;
	color: #242424;
	padding: 3px 0 10px 55px;
	margin: 20px 0 0 0
}

.sc1-para2,
.sc1-para2-1 {
	float: left;
	margin: 2.5% 0 0 28%
}

.sc1-para3,
.sc1-para3-1 {
	float: left;
	margin: 35px 0 0 36.5%
}

.sc1-txt4,
.sc1-txt4-1 {
	color: #004f7e;
	float: left;
	width: 100%;
	font-family: conv_segoepr;
	font-size: 18px;
	line-height: 29px
}

.sc1-txt5,
.sc1-txt5-1 {
	font-size: 16px;
	line-height: 20px;
	color: #000;
	float: left;
	width: 71%;
	line-height: 18px;
	margin: 3px 0 0
}

.gap {
	float: left;
	width: 100%;
	margin: 33px 0 0
}

.sc1-para4 {
	position: relative;
	background: url(../images/arrow.png) left top no-repeat;
	float: right;
	width: 92%;
	height: 93px;
	margin: 3% 0 0
}

.sc1-para5 {
	float: left;
	width: 100%;
	margin: 3% 0 0
}

.sc1-txt1 {
	font-family: conv_gotham-bold;
	padding: 8px 0 10px 16px;
	float: left;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
	position: absolute;
	top: 25px;
	left: 432px
}

.sc1-txt1 span {
	display: block;
	font-family: conv_gothamhtf-book;
	text-transform: none;
	color: #000
}

.sc1-txt2,
.sc1-txt3,
.red-arrow,
.sc1-arw1-1,
.sc1-txt3-1 {
	float: left;
	width: 100%;
	font-size: 24px;
	line-height: 28px;
	color: #000;
	margin: 1px 0 0 12px
}

.sc1-txt2 {
	margin: 12px 0 0 0;
	text-align: center
}

.sc1-txt3,
.sc1-txt3-1 {
	font-size: 49px;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: -2px;
	line-height: 47px;
	margin: 7px 0 3px -1px;
	color: #004f7e
}

.sc1-txt3 span,
.sc1-txt3-1 span {
	letter-spacing: 0
}

.red-arrow,
.sc1-arw1-1 {
	font-size: 21px;
	background: url("../images/sc1-arw1.jpg")#f31f33 no-repeat 0px top;
	height: 31px;
	color: #fff;
	text-transform: uppercase;
	padding: 4px 0 0 42px;
	width: 68%;
	margin: 7px 0 0 192px
}

.list-sec1 {
	float: left;
	margin: 16px 0 0 8px
}

.list-sec1 li {
	background: url(../images/sc1-tick.png) no-repeat left 17px;
	padding: 4px 0 0 35px
}

.list-sec1 li p {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 31px;
	letter-spacing: -.5px;
	background: url(../images/sc1li-pbg.png) no-repeat left 0;
	padding: 6px 0 0
}

.list-sec1 li p span {
	color: #000;
	text-transform: none
}

.brnd-img {
	float: right;
	margin: 9px 0 0
}

.sc1-txt6 {
	float: left;
	width: 100%;
	font-family: conv_geomanist-light;
	font-size: 36px;
	letter-spacing: -.9px;
	margin: 10px 0 0 5px
}

.sc1-txt6 span {
	font-family: conv_geomanist-regular
}

.sc1-pr5-points {
	float: left;
	width: 100%;
	margin: 2px 0 0 0
}

.sc1-pr5-points li {
	float: left;
	width: 225px;
	background: url(../images/pr5-pnt-1.png) center top no-repeat;
	padding: 226px 0 0 0;
	margin: 0 0 0 0
}

.sc1-pr5-points li:nth-child(2) {
	background: url(../images/pr5-pnt-2.png) center top no-repeat
}

.sc1-pr5-points li:nth-child(3) {
	background: url(../images/pr5-pnt-3.png) center top no-repeat
}

.sc1-pr5-points li p {
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	color: #444342;
	margin: 7px 0 0 11px;
	line-height: 17px;
	width: 90%
}

.sc1-pr5-points li p span {
	display: block;
	font-weight: 600;
	margin: 6px 0 7px 3px
}

.cut-star {
	margin: 0 0 -2px 5px
}

.promo {
	font-weight: 400;
	font-size: 10px;
	color: #000;
	text-align: center;
	margin: 17px auto
}

.Magazines {
	float: left;
	width: 100%;
	background: url(../images/maga-bg.jpg) no-repeat center top;
	height: 336px
}

.maga-txt1 {
	font-family: conv_geomanist-medium;
	text-align: center;
	float: left;
	width: 100%;
	color: #f55d00;
	text-transform: uppercase;
	margin: 18px 0 6px
}

.maga-img1 {
	margin: 0
}

.gry-logo {
	margin: 10px 0 0
}

.maga-txt2 {
	width: 88%;
	font-weight: 300;
	font-size: 16.07px;
	color: #000;
	line-height: 18.08px;
	margin: 0 auto
}

.doctr-img {
	position: absolute;
	top: 286px;
	left: 546px
}

.top-bottle {
	position: absolute;
	top: 415px;
	left: -31px;
	z-index: 999
}

.usa-seal {
	position: absolute;
	top: 612px;
	left: -65px;
	z-index: 999
}

.form-container {
	width: 346px;
	float: right;
	margin: 12px 0 0
}

.form-top {
	background: url(../images/frm-top.png) no-repeat center top;
	width: 346px;
	height: 97px;
	float: right
}

.form-fields {
	background: url(../images/frm-middle.png) repeat-y center top;
	float: right;
	width: 346px
}

.formbottom {
	background: url(../images/frm-botm.png) no-repeat center top;
	width: 346px;
	height: 34px;
	float: right
}

.blank {
	margin: 27px 0 0
}

.frm-element {
	float: right;
	margin-bottom: 16px;
	margin-right: 24px
}

.frm-element label {
	float: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	text-align: right;
	color: #000
}

.frm-element input[type=text],
.frm-element input[type=tel],
select {
	width: 200px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 0 10px;
	margin-left: 7px;
	float: right;
	outline: none
}

select {
	width: 200px
}

.form-btn {
	outline: none;
	padding: 21px 0 0 7px
}

.frm-btm-txt {
	float: right;
	padding: 105px 10px 0 0
}

.timer {
	color: #ffc709;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 0 0 0 1px
}

.contr-txt {
	width: 95.5%;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin: 103px 0 0 8px
}

.bnr-slider {
	float: left;
	width: 100%;
	height: 100%;
	background: url(../images/lp-arrow-in.png) no-repeat;
	animation: AnimationName 2s cubic-bezier(.43, .61, 1, 1) infinite;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9
}

@-webkit-keyframes AnimationName {
	100% {
		background-position: 100% 50%
	}

	0% {
		background-position: 0% 50%
	}
}

@-moz-keyframes AnimationName {
	100% {
		background-position: 100% 50%
	}

	0% {
		background-position: 0% 50%
	}
}

@-o-keyframes AnimationName {
	100% {
		background-position: 100% 50%
	}

	0% {
		background-position: 0% 50%
	}
}

@keyframes AnimationName {
	100% {
		background-position: 100% 50%
	}

	0% {
		background-position: 0% 50%
	}
}

.section-2 {
	float: left;
	width: 100%;
	min-width: 1030px;
	margin: 20px auto 45px
}

.sc2-para1 {
	margin: 0 auto;
	text-align: center;
	width: 100%
}

.sc2-txt1,
.sc3-txt1,
.bluhnd-txt1,
.sc5-txt1,
.sc3-txt1-sc4 {
	font-size: 52px;
	text-transform: uppercase;
	color: #1c1c1c;
	line-height: 29px;
	letter-spacing: -1px;
	margin: 18px 0 7px 0;
	padding: 0 21px 0 0
}

.sc2-txt2,
.sc3-txt2,
.bluhnd-txt2,
.sc5-txt2 {
	background: url(../images/sc2-tx2bg.png) center 6px no-repeat;
	font-family: conv_geomanist-regular;
	margin: 0 auto 0;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	font-size: 42.01px;
	letter-spacing: -.5px;
	color: #1c1c1c;
	line-height: 41px
}

.sc2-txt2 span {
	color: #f20303
}

.sc2-cntn {
	margin: 10px auto 0;
	width: 85%;
	text-align: center;
	font-size: 22.01px;
	color: #1c1c1c;
	font-weight: 600
}

.sc2-para2 {
	position: relative;
	float: left;
	width: 100%;
	margin: 23px 0 0
}

.sc2-img1 {
	position: absolute;
	top: 11px;
	left: 8px
}

.scpr2-lft {
	float: left;
	width: 41%;
	margin: 35px 0 0 74px
}

.ponts1,
.ponts2,
.ponts3 {
	float: left;
	width: 100%;
	background: url(../images/sc2-no1.png) left 15px no-repeat
}

.ponts2 {
	background: url(../images/sc2-no2.png) left 15px no-repeat
}

.ponts3 {
	background: url(../images/sc2-no3.png) left 15px no-repeat
}

.sc2-txt3 {
	font-weight: 700;
	font-size: 27px;
	text-transform: uppercase;
	color: #f20303;
	padding: 0 0 45px 68px
}

.sc2-txt3 span,
.strp-txt span,
.sc5-txt4 {
	font-weight: 400;
	display: block;
	text-transform: none;
	font-size: 18px;
	color: #181818;
	width: 100%
}

.sc2-img2 {
	float: right
}

.section-3 {
	float: left;
	width: 100%;
	min-width: 1030px;
	background: url("../images/section-3.jpg")#def3fe center top no-repeat;
	height: 797px
}

.sc3-paralft {
	float: left;
	background: url(../images/sc3-img1.png) left top no-repeat;
	height: 734px;
	width: 379px;
	margin: 19px 0 0
}

.sc3-txt1,
.sc3-txt1-sc4 {
	color: #004f7e;
	margin: 0;
	padding: 0;
	letter-spacing: -2.5px;
	line-height: 56px
}

.sc3-txt2,
.bluhnd-txt2 {
	background: url(../images/sc3-hnd2bg.png) right 19px no-repeat;
	text-align: left;
	color: #039bcb;
	font-size: 36px
}

.sc3-txt3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	float: left;
	width: 100%;
	margin: 10px 0 0 4px
}

.sc3-txt4,
.sc4-dctxt1 {
	float: left;
	width: 100%;
	margin: 14px 0 0 4px;
	font-weight: 400;
	font-size: 16px;
	color: #181818;
	line-height: 24px
}

.sc3-para1 {
	float: right;
	width: 75%;
	margin: 19px 0 0
}

.sc3-txt5 {
	background: url(../images/sc3-seal.png) left top no-repeat;
	padding: 12px 0 17px 103px;
	font-weight: 600;
	font-size: 16px;
	color: #181818;
	margin: 0 0 0 -5px
}

.sc3rgt-pnt {
	float: left;
	width: 100%;
	margin: 13px 0 0
}

.s3-rgtpnt-txt1 {
	font-weight: 700;
	font-size: 46px;
	color: #8ec907;
	float: left;
	width: 13%;
	letter-spacing: -1.5px
}

.s3-rgtpnt-txt1 sup {
	font-size: 27px
}

.s3-rgtpnt-txt2,
.s3-rgtpnt-txt2-2,
.s3-rgtpnt-txt2-3 {
	background: url(../images/sc3-lft-img1_03.png) left top no-repeat;
	float: right;
	height: 62px;
	font-size: 19.96px;
	font-weight: 700;
	color: #000;
	width: 80%;
	padding: 0 0 0 10px;
	line-height: 40px;
	text-align: left
}

.s3-rgtpnt-txt2-2 {
	background: url(../images/sc3-lft-img2_03.png) right top no-repeat;
	height: 60px;
	margin-top: -1px
}

.s3-rgtpnt-txt2-3 {
	background: url(../images/sc3-lft-img3_03.png) right top no-repeat;
	height: 62px;
	margin-top: -4px
}

.sc3-txt6 {
	float: left;
	width: 100%;
	background: url(../img/one.png.html) left 3px no-repeat;
	font-weight: 700;
	font-size: 20px;
	font-style: italic;
	color: #000;
	padding: 0 0 0 84px;
	margin: 43px 0 0 5px;
	text-transform: uppercase;
	line-height: 24px
}

.sc3-txt6 span {
	display: block
}

.sc3-para-rgt {
	float: right;
	width: 58%;
	margin: 58px 0 0;
	position: relative
}

.sc3-prlft-txt1 {
	font-family: conv_geomanist-bold;
	margin: 104px auto 0;
	text-align: center;
	text-transform: uppercase;
	width: 94%;
	font-size: 50px;
	color: #ffc500;
	letter-spacing: -.5px;
	line-height: 50px
}

.sc3-prlft-txt1 span {
	display: block;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	line-height: 30px;
	margin: 0 0 0;
	letter-spacing: 2px
}

.sc3lft-pnt {
	float: left;
	width: 87%;
	margin: 106% 0 0 10%
}

.sc3lft-pnt li {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #111;
	letter-spacing: -.5px;
	padding: 2px 0 0 26px;
	background: url(../images/sc3-lft-pont.png) left 9px no-repeat
}

.bottles {
	position: absolute;
	top: 375px;
	left: -30px
}

.strip {
	float: left;
	width: 100%;
	min-width: 1030px;
	background: url(../images/yellow-strip.jpg) center top no-repeat;
	height: 95px;
	position: relative
}

.strp-img {
	position: absolute;
	left: 616px;
	top: -41px
}

.strp-txt {
	float: left;
	width: 58%;
	text-transform: uppercase;
	font-size: 24px;
	color: #000;
	font-weight: 700;
	margin: 22px 0 0 33px;
	line-height: 26px
}

.strp-txt span {
	display: block;
	font-size: 20px
}

.strpbtn {
	float: right;
	margin: 16px 4px 0 0
}

.section-4 {
	float: left;
	width: 100%;
	min-width: 1030px;
	background: url(../images/section-4.jpg) center top no-repeat;
	height: 1097px
}

.sc3-txt1-sc4 {
	letter-spacing: -1px
}

.sc4-tppara,
.sc6-tppara {
	float: left;
	width: 639px;
	margin: 55px 0 0
}

.comn-hdng-para {
	float: left;
	width: 93%
}

.sc4-doc-para {
	float: right;
	width: 72%;
	margin: 48px 0 0
}

.sc4-dctxt1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	color: #004f7e;
	margin: 0
}

.sc4-dctxt2 {
	float: left;
	width: 100%;
	margin: 10px 0 0
}

.sign,
.sc4-str {
	float: left;
	margin: 16px 0 0 13px
}

.sign {
	margin: 13px 0 0
}

.sc4-seal {
	position: absolute;
	left: -13px;
	top: 259px
}

.blue-hdng {
	float: left;
	width: 77%;
	height: 98px;
	background-color: #02507f;
	margin: 59px 0 0
}

.bluhnd-txt1 {
	margin: 14px 0 0;
	font-size: 35.98px;
	color: #fff;
	padding: 2px 20px;
	letter-spacing: 0
}

.bluhnd-txt2 {
	background: url(../images/blue-bg.png) right 20px no-repeat;
	font-size: 35.98px;
	padding: 2px 20px;
	float: left;
	width: 76%;
	letter-spacing: 0
}

.blod {
	position: absolute;
	top: 371px;
	right: -88px
}

.sc4-para2 {
	float: left;
	width: 100%;
	margin: 31px 0 0;
	position: relative
}

.sc4-pntimg {
	position: absolute;
	left: 241px;
	top: 17px
}

.sc4-paralft {
	float: left;
	width: 35%
}

.sc4-parargt {
	float: right;
	width: 31%
}

.sc4-box1,
.sc4-box2,
.sc4-box3,
.sc4-box4 {
	background: url(../images/sc4-img1.png) left top no-repeat;
	float: left;
	width: 100%;
	margin: 0 0 11px 0
}

.sc4-box2 {
	background: url(../images/sc4-img2.png) left top no-repeat;
	margin: 101px 0 0
}

.sc4-box3 {
	background: url(../images/sc4-img3.png) left top no-repeat
}

.sc4-box4 {
	background: url(../images/sc4-img4.png) left top no-repeat;
	margin: 48px 0 0
}

.sc4-txt2 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	float: left;
	width: 100%;
	margin: 0 0 0 68px;
	letter-spacing: -.5px;
	line-height: 24px
}

.sc4-txt2 span {
	display: block
}

.sc4-txt3,
.sc6-txt1,
.sc6-txt2,
.sc7-txt1 {
	margin: 10px 0 0;
	font-size: 16px;
	color: #333;
	line-height: 24px;
	letter-spacing: -.5px;
	width: 100%;
	float: left
}

.section-5 {
	float: left;
	width: 100%;
	min-width: 1030px;
	background: url(../images/section-5.jpg) center top no-repeat;
	height: 980px
}

.sc5-para1 {
	text-align: center;
	float: left;
	width: 100%;
	margin: 5% 0 0
}

.sc5-txt1 {
	font-size: 49.97px;
	color: #004f7e
}

.sc5-txt2 {
	background: url(../images/sc5-hnd2bg.png) center 12px no-repeat;
	color: #039bcb;
	font-size: 35.98px;
	margin: 12px 0 0 -11px;
	padding: 0 0 0 5px
}

.sc5-points {
	float: left;
	width: 100%;
	margin: 36px 0 0;
	text-align: center
}

.sc5-points li {
	background: url(../images/sc5-img1.png) left top no-repeat;
	float: left;
	width: 257px;
	padding: 230px 0 76px
}

.sc5-points li:nth-child(2) {
	background: url(../images/sc5-img2.png) left top no-repeat
}

.sc5-points li:nth-child(3) {
	background: url(../images/sc5-img3.png) left top no-repeat
}

.sc5-points li:nth-child(4) {
	background: url(../images/sc5-img4.png) left top no-repeat
}

.sc5-pnttxt1 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 25.99px;
	letter-spacing: -.4px
}

.pnt-line {
	margin: 20px auto 0;
	width: 26%;
	height: 3px;
	background-color: #ffc500
}

.sc5-pnttxt2 {
	font-size: 17px;
	font-weight: 400;
	color: #3c3c3c;
	margin: 22px auto 0;
	width: 86%
}

.sc5-para2 {
	float: left;
	width: 100%;
	position: relative
}

.sc5-seal {
	position: absolute;
	left: -43px;
	top: 118px
}

.sc5-parlft {
	float: right;
	width: 81%;
	margin: 47px 0 0
}

.sc5-botl {
	float: left;
	margin: 5px 0 0
}

.sc5-txt5 {
	float: left;
	text-align: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -.5px;
	border-bottom: 1px solid #ccc;
	width: 79%;
	padding: 1px 0 15px
}

.sc5-txt6,
.sc5-txt7 {
	float: left;
	width: 76%;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	margin: 13px 0 0
}

.sc5-txt7 {
	font-size: 16px;
	float: left;
	font-weight: 600;
	margin: 20px 0 0
}

.section-6 {
	float: left;
	width: 100%;
	min-width: 1030px;
	background: url(../images/section-6.jpg) center top no-repeat;
	margin: 0 0 1.5%
}

.sc6-tppara {
	width: 64%
}

.sc6-paralft {
	float: left;
	width: 517px;
	margin: 18px 0 0
}

.sc6-parargt {
	float: right;
	width: 500px;
	margin: 18px 0 0
}

.sc6-txt2,
.sc6-txt3 {
	font-weight: 700;
	font-size: 18px;
	margin: 20px 0 0
}

.sc6-suplmnt {
	margin: 23px 0 0 22px
}

.sc6-txt3 {
	background: url(../images/rx.png) left top no-repeat;
	float: left;
	padding: 16px 0 13px 87px;
	margin: 18px 0 2px 61px;
	color: #ed0808
}

.ingrdnts {
	float: right;
	width: 100%
}

.ingrdnts li {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	background: url(../images/ingre-1.png) left -8px no-repeat;
	padding: 0 0 23px 130px
}

.ingrdnts li span,
.sc7-points li span,
.sld-txt1 {
	text-transform: none;
	color: #333;
	display: block;
	margin: 4px 0 0;
	font-weight: 400;
	font-size: 16px
}

.ingrdnts li:nth-child(2) {
	background: url(../images/ingre-2.png) left -8px no-repeat
}

.ingrdnts li:nth-child(3) {
	background: url("../images/ingre-3.png")left -8px no-repeat
}

.ingrdnts li:nth-child(4) {
	background: url(../images/ingre-4.png) left -8px no-repeat
}

.ingrdnts li:nth-child(5) {
	background: url(../images/ingre-5.png) left -8px no-repeat
}

.section-7 {
	float: left;
	width: 100%;
	height: 638px;
	min-width: 1030px;
	background: url("../images/section-7.jpg")#e0f3fe center top no-repeat
}

.sc7-paralft {
	float: left;
	width: 630px
}

.sc7-points {
	float: left;
	width: 81%;
	margin: 25px 0 0
}

.sc7-points li {
	font-weight: 700;
	font-size: 24px;
	background: url(../images/step1.png) left 13px no-repeat;
	padding: 0 0 8px 76px
}

.sc7-points li:nth-child(2) {
	background: url(../images/step2.png) left 13px no-repeat;
	margin: 19px 0 0
}

.sc7-points li:nth-child(3) {
	background: url("../images/step3.png")left 13px no-repeat;
	margin: 10px 0 0
}

.sc7-img1 {
	position: absolute;
	top: 114px;
	right: -16px
}

.sc7-seal {
	position: absolute;
	top: 35px;
	right: 26px
}

.section8 {
	height: 820px;
	width: 100%;
	min-width: 1030px;
	float: left
}

.s8-slider {
	margin: 0;
	width: 1030px;
	float: left
}

.slide1,
.slide2 {
	width: 100%
}

.s8-box1,
.s8-box2 {
	border: 11px solid #ebf5fc;
	width: 452px;
	height: auto;
	margin: 100px auto 0;
	position: relative
}

.slid-img {
	position: absolute;
	top: -58px;
	left: 137px
}

.slider-txt1 {
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	color: #333;
	margin: 172px 0 0 33px;
	padding: 0 22px;
	border-left: 4px solid #039bcb;
	height: 177px
}

.slider-txt2 {
	background: url(../images/star.jpg) 49px top no-repeat;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	color: #039bcb;
	text-transform: uppercase;
	margin: 42px 0 0 33px;
	padding: 0 22px 33px
}

.slider-txt2 span {
	font-size: 19px;
	color: #0f416f
}

.section-9 {
	float: left;
	width: 100%;
	height: 717px;
	min-width: 1030px;
	background: url(../images/section-9.jpg) center top no-repeat
}

.sc9-para1-1 {
	padding: 0;
	margin: 53px 0 0 28px;
	float: left;
	position: relative;
	width: 100%
}

.s9-logo {
	float: left;
	padding: 0
}

.sc9-botls {
	position: absolute;
	top: 344px;
	left: -13px
}

.sc1-txt5-1,
.sc1-txt4-1 {
	float: right;
	width: 75%
}

.sc1-para2-1 {
	margin: 20px 0 0 12px
}

.sc1-arw1-1 {
	font-size: 21px;
	background: url(../images/sc9-arw.png) no-repeat 5px top;
	float: left;
	width: 100%;
	margin: 0% 0 0 3%
}

.sc1-para1-1 {
	padding: 0;
	margin: 54px 0 0 28px;
	float: left;
	width: 100%
}

.sc9-as-see-on {
	position: absolute;
	top: 7px;
	left: 276px
}

.in_sub input {
	background-color: transparent;
	background-image: url(../images/btn.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 75px;
	font-size: 0
}

.sc1-txt3-1 {
	letter-spacing: -1.5px
}

.sc1-txt3-1 span {
	letter-spacing: 0
}

.sc9-para2-1 {
	margin: 20px 0 0 12px
}

.sc9-txt2,
.sc9-txt3,
.sc9-arw1,
.sc9-arw1-1,
.sc9-txt3-1 {
	float: left;
	width: 100%;
	font-size: 24px;
	line-height: 28px;
	color: #000;
	margin: 1px 0 0 12px
}

.sc9-txt2 {
	margin: 28px 0 0 14px
}

.s9-txt2 {
	margin: 3px 0 3px 11px;
	text-align: left
}

.s9-txt3 {
	margin: 2% 0 0 3%
}

.footer {
	float: left;
	width: 100%;
	margin: 0 auto;
	display: block;
	float: left;
	width: 100%;
	padding: 15px 0 13px
}

.footer p {
	font-size: 14px;
	line-height: 23px;
	letter-spacing: -.5px;
	color: #000;
	text-align: center;
	padding: 14px 38px
}

.ani-arrow1 {
	position: absolute;
	right: -120px;
	top: 150px;
	width: 10%
}

.sec1-arr-wo {
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
	transition: all 2s;
	top: 219px
}

.sc1-para3-1 {
	margin: 21px 0 0 257px
}

.sc9-btn {
	margin: 14px 0 0 62px
}

.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite
}

@keyframes pulse {
	0% {
		transform: scale(.9);
		opacity: 1
	}

	50% {
		transform: scale(1);
		opacity: 1
	}

	100% {
		transform: scale(.9);
		opacity: 1
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(.95);
		opacity: 1
	}

	50% {
		-webkit-transform: scale(1);
		opacity: 1
	}

	100% {
		-webkit-transform: scale(.95);
		opacity: 1
	}
}

 